html {
       max-width: 90%;
       margin: 0; padding: 96px;
       color: #000;
       }

       body { 
       font: 16px Baskerville; 
       line-height: 24px; 
       background: url(images/noise.jpg); 
       max-width: 100%;
       color: #000;
       }

       .clear {
       clear: both;
       }

       .last-job {
       margin-bottom: 0;
       }

       .wrapper {
       width: 920px; 
       margin: 40px auto 60px; 
       }

       h1 { 
       margin: 0 0 16px 0; 
       padding: 0 0 16px 0; 
       font-size: 42px; 
       font-weight: bold;
       font-family: Montserrat;
       letter-spacing: -2px; 
       border-bottom: 1px solid #999;
       }

       h2 { 
       font-size: 18px; 
       margin: 0 0 6px 0; 
       position: relative; 
       }

       .job-location { 
       position: absolute; 
       bottom: 0;
       right: 5em;
       font-size: 12px; 
       color: #333;
       font-weight: normal;
       }

       .title {
       font-size: 14px;
       }

       .address {
       float: right;
       }

       p { 
       margin: 0 0 14px 0;
       }

       a {
       text-decoration: none;
       color: #555;
       }

       a:hover {
       color: #999;
       }

       ul {
       margin: 0 0 2px 10px;
       }

       .professional-summary {
       float: left;
       }

       .left-column, .center-column, .right-column {
       display: inline-block;
       }


       h2 {
       font-size: 17px;
       }

       dt {
       font-weight: bold;
       font-size: 1.125em;
       text-align: right;
       padding: 0 1em 0 0;
       width: 8%;
       float: left;
       }

       dd {
       width: 85%;
       float: right;
       }

       dd.clear {
       float: none;
       margin: 0;

       }

       .email {
       font-size: 16px;
       }

       .tel {
       font-size: 16px;
       }

       .degree, .accomplishments {
       font-weight: bold;
       font-size: 16px;
       }
